form {
    margin-top: 20px;
    text-align: center;
}

/* Style pour l'étiquette */
label {
    display: block;
    margin-bottom: 5px;
}

/* Style pour le champ de recherche */
input[type="text"] {
    padding: 8px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style pour le bouton de recherche */
button[type="submit"] {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Changement de style au survol */
button[type="submit"]:hover {
    background-color: #0056b3;
}